<div class="form-field" [formGroup]="formGroup">
  @if (field.label) {
    <label class="form-field__label" [for]="field.name">{{
      field.label
    }}</label>
  }
  <input
    class="form-field__input"
    [id]="field.name"
    [type]="
      field.type == 'password'
        ? isPasswordFieldType
          ? 'password'
          : 'text'
        : field.type
    "
    [formControlName]="field.name"
    [ngClass]="{
      'input-error': field.control.invalid && field.control.touched,
    }"
    (blur)="onBlur($event)"
  />
  @if (field.type === "password") {
    <span
      class="form-field__eye icon"
      [ngClass]="{
        'icon--eye': isPasswordFieldType,
        'icon--crossed-eye': !isPasswordFieldType,
      }"
      (click)="onTogglePasswordFieldType()"
    >
    </span>
  }
  @if (field.control.invalid && field.control.touched) {
    @if (field.control.hasError("required")) {
      <div class="text-danger text-[0.8125rem]">The field is required</div>
    } @else if (field.control.hasError("email")) {
      <div class="text-danger text-[0.8125rem]">The field must be an email</div>
    } @else if (field.control.hasError("minlength")) {
      <div class="text-danger text-[0.8125rem]">
        The field must be at least
        {{ field.control.getError("minlength").requiredLength }} characters long
      </div>
    } @else if (field.control.hasError("matchInvalid")) {
      <div class="text-danger text-[0.8125rem]">The field doesn't match</div>
    }
  }
</div>
