.login {
  padding: 50px 20px;
  border: 1px solid #bebebe;
  border-radius: 10px;
  width: 420px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &__image {
    width: 100%;
    height: 200px;
    object-fit: contain;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    ch-button {
      margin-top: 10px;
    }
  }

  &__register-link {
    display: block;
    color: #C71508;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
  }
}
