.auth-form {
  display: flex;
  gap: 20px;
  flex-direction: column;

  &__field {
    display: flex;
    gap: 8px;
    flex-direction: column;
    position: relative;
  }

  &__field-error {
    color: #C71508;
    font-size: 13px;
  }

  &__input-container {
    position: relative;
  }

  &__input {
    border: 1px solid #bebebe;
    padding: 10px 5px;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: #bebebe;
    }
  }

  &__button {
    border: none;
    border-radius: 5px;
    padding: 11px;
    background-color: #C71508;
    color: #fff;
    text-align: center;
    cursor: pointer;
    &:hover {
      background-color: #A21308;
    }

    &--outline {
      background-color: #fff;
      border: 1px solid #C71508;
      color: #C71508;
      padding: 10px;
      &:hover {
        background-color: #C71508;
        color: #fff;
      }
    }
  }

  &__eye {
    position: absolute;
    right: 5px;
    top: 9px;
    cursor: pointer;
    &:hover {
      background-color: #bebebe;
      border-radius: 12px;
    }
  }

  &.ng-submitted {
    .ng-invalid {
      border-color: #C71508;
    }
  }
}
