.auth-form {
  display: flex;
  gap: 20px;
  flex-direction: column;

  &__buttons {
    display: flex;
    gap: 8px;
    flex-direction: column;
    position: relative;
  }

  &__button {
    border: none;
    border-radius: 5px;
    padding: 11px;
    background-color: #C71508;
    color: #fff;
    text-align: center;
    cursor: pointer;
    &:hover {
      background-color: #A21308;
    }

    &--outline {
      background-color: #fff;
      border: 1px solid #C71508;
      color: #C71508;
      padding: 10px;
      &:hover {
        background-color: #C71508;
        color: #fff;
      }
    }
  }
}
