@tailwind base;
@tailwind components;
@tailwind utilities;

@import "icons.scss";
@import "helpers.scss";

body {
  font-family: 'Roboto', sans-serif;
}

input, button {
  font: inherit;
}

button {
  cursor: pointer;
}
