/* You can add global styles to this file, and also import other style files */
@import "icons.scss";

body {
  font-family: 'Roboto', sans-serif;
}

input, button {
  font: inherit;
}

button {
  cursor: pointer;
}
